.PaymentMethods .icone {
	height: 70px;
	width: 70px;
	border: solid 1px #C7c7c7;
	margin: 10px;
	list-style: none;
	float: left;
	padding-top: 20px
}

.tab-content { 
	border-bottom: solid 1px #C7c7c7;
	border-left: solid 1px #C7c7c7;
	border-right: solid 1px #C7c7c7;
	padding: 15px;
}

h3 {
	margin:  0 !important;
}

.margin-top20 { 
	margin-top: 40px;
}

.tabs-pagamentos{
	margin-top: 20px;
}

#msg_boleto, #msg_debito {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.cc_brand {
	height: 70px;
	width: 70px;
	border: solid 1px #c7c7c7;
	padding-top: 20px;
	background: url(../img/cc.jpg);
}



.nav-tabs {
    border-bottom: 1px solid #8bdb54;
	background-color: #8bdb54;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.tab-content {
    border-bottom: solid 1px #8bdb54;
    border-left: solid 1px #8bdb54;
    border-right: solid 1px #8bdb54;
    padding: 15px;
}
.nav-tabs a:focus, .nav-tabs a:hover, .nav-tabs a {
    color: #fff;
    text-decoration: none;
}
.nav-tabs>li>a:hover { color: #555; }
.nav-tabs>li>a{ color: #fff; }
.nav-tabs>li>a {
    border-radius: 0px 0px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #8bdb54;
    border-bottom-color: transparent;
}




